@model IEnumerable<Junior.SharedModels.DomainModels.Compound>

@{
    ViewBag.Title = "List of compounds";
}

<h2>List of compounds</h2>

<p>
    @Html.ActionLink("Create new", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
</table>

<style>
    td {
        padding: 0.5em 0 0.5em;
    }
</style>

<script>
    $(document).ready(function () {
        getCompounds();
    });

    var getCompounds = function () {
        $.get("/Compound/GetAllCompounds")
            .done(function (compounds) {
                compounds.forEach(compound => {
                    var table = document.getElementsByClassName("table")[0];
                    var row = document.createElement("tr");

                    row.innerHTML = "<td>" + compound.Name + "</td>";
                    row.innerHTML += '<td><a class="btn btn-primary" href="/Compound/Edit/' + compound.Id + '">Edit</a> | ' +
                        '<button class="btn btn-default" onclick="deleteCompound(\'' + compound.Id + '\');">Delete</button></td>';

                    table.append(row);
                })
            })
            .fail(function () {
                alert("Error occured while fetching data.");
            })
    }

    var deleteCompound = function (id) {
        var toDelete = confirm("Are you sure you want to delete this compound?");
        if (toDelete) {
            $.get("/Compound/Delete/" + id)
                .done(function (success) {
                    if (success) {
                        //Clear the table and pull the data once again
                        var table = document.getElementsByClassName("table")[0];
                        while (table.hasChildNodes()) {
                            table.removeChild(table.lastChild);
                        }
                        getCompounds();
                    }
                })
                .fail(function () {
                    alert("Error occured while deleting data.");
                })
        }
    }

</script>  